{% extends 'base.html' %}

{% block style %}
    <style>
        header {
            justify-content: center;
        }
    </style>
{% endblock %}

{% block title %}История{% endblock %}

{% block content %}
    <div class="history">
        <div class="history_inside">
            <div class="header">
                <h1>История записей</h1>
            </div>
            <div class="users">
                {% for record in records %}
                    <div class="item">
                        <div>
                            <p>{{ record.service.name }}</p>
                            <p>{{ record.client.get_full_name }}</p>
                            <p>{{ record.date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="buttons">
                <a href="{% url 'users:profile' %}" class="order order_nopadding">Вернуться назад</a>
                {#                <button class="order order_nopadding">Удалить запись</button>#}
            </div>
        </div>
    </div>
{% endblock %}