{% extends 'base.html' %}

{% block style %}
    <style>
        header {
            justify-content: center;
        }
    </style>
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <header>
        <h1>Amazing barbershop</h1>
    </header>
    <div class="main">
        <div class="login">
            <div class="title">Вход</div>
            <form method="post">
                {% csrf_token %}
                <div class="input_login">
                    <p>Имя пользователя</p>
                    {{ form.username }}
                </div>
                <div class="input_login">
                    <p>Пароль</p>
                    {{ form.password }}
                </div>
                <input type="submit" class="order" value="Войти">
            </form>
        </div>
    </div>
{% endblock %}