{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        header {
            justify-content: center;
        }
    </style>
{% endblock %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="header">
        <h1>Личный кабинет</h1>
        <div class="user">
            <img src="{% static 'images/image 1.png' %}" alt="avatar">
            <p>{{ user.username }}</p>
        </div>
    </div>
    <div class="links">
        <a href="{% url 'users:history' %}">История записей</a>
        <a href="{% url 'users:logout' %}" class="red">Выйти</a>
    </div>
{% endblock %}