{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header>
        <h1>Amazing barbershop</h1>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}">Профиль</a>
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}" style="margin-left: 20px">Админ-панель</a>
                {% endif %}
            {% else %}
                <a href="{% url 'users:login' %}">Вход</a>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="search">
            <img src="{% static 'images/search.png' %}" alt="search">
            <input type="text" placeholder="Найти">
        </div>
        <div class="service">
            {% for service in services %}
                <div class="service_card service_card_not1">
                    <h2>{{ service.name }}</h2>
                    <img src="{% static 'images/beard.png' %}" alt="hair">
                    <div class="service_card_tools">
                        <p>Цена: {{ service.price }}р</p>
                        <input name="type" id="radioBtnService" data-pk-service="{{ service.id }}" type="radio">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="choose">
            <div class="line"></div>
            <p class="title">Запись</p>
            <div class="line"></div>
            <div class="line"></div>
            <p class="title">Выбор мастера</p>
            <div class="line"></div>
            <div class="masters">
                {% for master in masters %}
                    <div class="master">
                        <div class="master_info">
                            <img src="{% static 'images/Face1.png' %}" alt="avatar">
                            <div>
                                <p>{{ master.first_name }}</p>
                                <p>Отзывы: 5</p>
                            </div>
                        </div>
                        <input name="master" id="radioBtnMaster" data-pk-master="{{ master.id }}" type="radio">
                    </div>
                {% endfor %}
            </div>
        </div>
        <form action="{% url 'main:index' %}" method="post">
            {% csrf_token %}
            <div class="date">
                <div class="title">Выбор даты</div>
                {{ form.time }}
                {{ form.date }}
            </div>
            <div class="contact">
                <div class="title">Ввести личные данные</div>
                <div class="form">
                    {{ form.first_name }}
                    {{ form.last_name }}
                    {{ form.middle_name }}
                    {{ form.phone }}
                    {{ form.email }}
                </div>
                <input type="submit" class="order" value="Записаться">
            </div>
            {{ form.pk_service }}
            {{ form.pk_master }}
        </form>
    </main>
{% endblock %}

{% block script %}
    <script>
        const radioBtnsService = document.querySelectorAll('#radioBtnService');
        const radioBtnsMaster = document.querySelectorAll('#radioBtnMaster');
        const hiddenInputService = document.querySelector('#id_pk_service');
        const hiddenInputMaster = document.querySelector('#id_pk_master');

        radioBtnsService.forEach(btn => {
            btn.addEventListener('click', () => {
                if (btn.checked) {
                    hiddenInputService.value = btn.dataset.pkService;
                }
            })
        })
        radioBtnsMaster.forEach(btn => {
            btn.addEventListener('click', () => {
                if (btn.checked) {
                    hiddenInputMaster.value = btn.dataset.pkMaster;
                }
            })
        })
    </script>
{% endblock %}